html {
  line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 67.5%;
  font-family: 'Cormorant Unicase', serif;
  cursor: default;
}

body {
  background: url(./images/DnD_bg-Eberron01.jpg) center / cover no-repeat fixed;
}

.wrapper {
  max-width: 750px;
  margin: 5vh auto;
}

h1 {
  color: papayawhip;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

span {
  text-transform: lowercase;
}

.speechBubble {
  max-width: 75%;
  margin: 0 auto;
  position: relative;
}

.bubbleText {
  background: rgba(255,239,213,0.7);
  font-size: 2.5rem;
  font-weight: normal;
  padding: 20px;
  border-radius: 20px;
  margin: 10px auto 50px;
}

.bubbleTailLeft {
  position: absolute;
  bottom: -35px;
  left: 30px;
  height: 35px;
  width: 35px;
  background: linear-gradient(to top left, transparent 0%, transparent 50%, rgba(255,239,213,0.7) 50%, rgba(255,239,213,0.7) 100%);
}
.bubbleTailRight {
  position: absolute;
  bottom: -35px;
  right: 30px;
  height: 35px;
  width: 35px;
  background: linear-gradient(to top right, transparent 0%, transparent 50%, rgba(255,239,213,0.7) 50%, rgba(255,239,213,0.7) 100%);
}

.button {
  text-align: center;
}

button {
  padding: 20px;
  color: papayawhip;
  font-family: 'Cormorant Unicase';
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  background-color: rgba(211,211,211,0.2);
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}

button:hover,
button:focus {
    background: rgba(211,211,211,0.3);
}

button:active {
    box-shadow: 0px 0px 1px black;
}

.attributions {
  margin: 5vh auto 2.5vh;
  font-size: 1.5rem;
  line-height: 1.5;
  color: papayawhip;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 715px) {
  h1 {
    max-width: 350px;
  }
  .speechBubble {
    max-width: 85%;
  }
}

@media (max-width: 450px) {
  h1 {
    max-width: 300px;
  }
}